@charset "utf-8";

body {
	background-color: black;
	margin: 0;
}
.header {
	background-color: #B00000;
	height: 70px;
	clear: both;
}
.header h3 {
	float: right;
	margin-right: 15%;color: white;
}
h3 {
	font-family: 'Quantico', sans-serif;
	font-size: 35px;
	font-weight: 400;
	margin: 7px 0 0 0;
	transition: 0.3s;
}
a {
	text-decoration: none;
	color: white;
}
#logo {
	height: 80%;
	margin: 7px 0 0 15%;
	transition: 0.3s;
}
#logo:hover {
	opacity: 0.6;
	transition: 0.3s;
}
.wrapper {
	width: 70%;
	margin-left: 15%;
}
#help {
	background-color: black;
	width: 15%;
	height: 200px;
	margin: 70px 5% 0 0;
	float: left;
	text-align: center;
}
#legoman {
	width: 70px;
	padding: 10px;
}
h3:hover {
	opacity: 0.3;
	cursor: pointer;
}
#search {
	width: 80%;
	height: 200px;
	background-color: white;
	float: right;
	margin: 70px 0 0 0;
	text-align:  center;
}
#searchbar {
	width: 40%;
	height: 30px;
}
#searchbar:hover {
	border: solid;
}
button {
	height: 35px;
}
h1 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 55px;
}
#helpcontent {
	background-color: black;
	clear: both;
	margin-left: 20%;
	padding: 20px;
	display: none;
}
p {
	color: white;
}