@charset "utf-8";

body {
	background-color: #aaa;
	margin: 0;
}
.header {
	background-color: #B00000;
	height: 7rem;
	clear: both;
	text-align: center;
	box-shadow: 0px 15px 15px grey;
}
h3 {
	font-family: 'Quantico', sans-serif;
	font-size: 35px;
	font-weight: 400;
	margin: 7px 0 0 0;
	transition: 0.3s;
}
a {
	font-family: 'Quantico', sans-serif;
	text-decoration: none;
	color: white;
}
#logo {
	height: 80%;
	margin-top: 7px;
	transition: 0.3s;
}
#logo:hover {
	opacity: 0.6;
	transition: 0.3s;
}
.wrapper {
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
#legoman {
	width: 70px;
	padding: 10px;
	float: left;
}
h3:hover {
	opacity: 0.3;
	cursor: pointer;
}
#search {
	width: 100%;
	height: 15rem;
	background-color: white;
	margin-top: 15rem;
	text-align:  center;
	border: outset;
	border-width: 0.3rem;
}
input {
	width: 40%;
	height: 30px;
}
button {
	height: 35px;
}
h1 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 4rem;
}
#help {
	float:left;
	width:45%;
	margin-right: 5%;
}
#about {
	float:right;
	width: 45%;
	margin-left: 5%;
}
#helpcontent {
	display: none;
}
#aboutcontent {
	display: none;
}
p {
	color: black;
	font-family: 'Rajdhani', sans-serif;
}
#searchagain {
    padding: 1rem 0 0 0;
}
#allresults {
    list-style: none;
}
#allresults li {
    width: 48%;
    padding: 1%;
    margin: 0;
    float:left;
}
.result {
    background-color: white;
    clear: both;
    height: 9rem;
    padding: 0.5rem;
    border: outset;
    border-width: 0.3rem;
}
.result:hover {
    background-color: #DDD;
    transition: 0.2s;
    cursor: pointer;
}
.result p {
    color:black;
    font-size: 1.4em;
    font-family: 'Rajdhani', sans-serif;
    margin:0;
}
.result img {
    height: 9rem;
    width: 12rem;
    float:left;
}
p2 {
    color: #777;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2em;
}
.showcount {
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.25em;
	margin: 1.5rem 0 0 0;
}
#pagination a {
	font-size: 1.5em;
	padding: 0.6rem;
}
#pagination a:hover {
	opacity: 0.5;
	transition: 0.2s;
}
.arrows {
	padding: 0.5rem;
}
#activeset {
	background-color: white;
	height: 18rem;
	padding: 1rem;
	margin-top: 2rem;
	border: outset;
}
#activeset img {
	height: 18rem;
	float: left;
}
#activeset h3:hover {
	cursor: default;
	opacity: 100%;
}
#parts {
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
#parts p {
	color: black;
}
#parts th {
	border: outset;
	background-color: white;
	padding: 0 2rem 0 2rem;
}
#parts th p {
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.4em;
}
#parts td {
	border: outset;
	background-color: white;
	padding: 0 2rem 0 2rem;
}

@media screen and (max-width: 81em) {
    #allresults li {
        float:none;
        width: 100%;
    }
	#activeset img {
		float: none;
	}
	#activeset {
		height: auto;
	}
	#parts {
		width: 100%;
		margin: 0;
	}
	.wrapper {
		width: 100%;
		margin: 0;
	}
}
@media screen and (max-width: 600px) {
	
	#search {
		margin: 0;
		height: 25rem;
	}
	h1 {
		margin: 0;
		padding-top: 8rem;
	}
	#searchbar {
		width: 80%;
	}
	#help {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	#about {
		float: none;
		width: 100%;
		margin-left: 0; 
	}
    
}





